# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# PyTest cache
.pytest_cache/

# IDE settings
.vscode/

# Test reports and screenshots
reports/*.html
screenshots/

# Environment variables
.env